# Ignore Mac system files
.DS_store

# Build and backup files
/source/desktop/backup
/source/desktop/lib
/source/shared/backup
/source/shared/lib

# 3rd party Icon files 
/source/shared/icons.lrs
/source/shared/icons8/

# binary builds
/bin

# dev test experiments and shortcuts
/source/test
/mkver.sh
/mkicons.sh


